.home-screen {
    background-color: #ff0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-screen-container {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.home-screen-logo {
    color: #f00;
    font-size: 50px;
    font-weight: 700;
}

.home-screen-button {
    margin-top: 2rem;
    background-color: #f5f5f6;
    width: 200px;
    padding: 10px;
    font-weight: 600;
    border-color: #a9a9a9;
    border-width: 2px;
    border-radius: 10px;
}

.home-screen-image {
    margin-top: 4rem;
    width: 45%;
    height: auto;
}