.cellbox-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellbox-piece {
    width: 15px;
    height: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 8px;
}