.dice {
    display: flex;
    justify-content: center;
    position: absolute;
    align-self: center;
}

.text {
    margin-top: 3px;
    font-size: 20px;
}

.dice-container {
    width: 80px;
    height: 80px;
    background-color: #f00;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 40px;
    cursor: pointer;
}

.dice-dot {
    align-self: center;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    margin: 1.1rem 0.5rem;    
}
