.game-screen {
    background-color: #ff0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container {
    width: 1000px;
    height: 600px;
    background-color: #ff0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.two-players-container {
    display: flex;
    flex: 3;
    width: 100%;
    background-color: #f5f5f6;
    border-radius: 20px;
}

.horizontal-cells-container {
    background-color: #f5f5f6;
    width: 100%;
    height: auto;
    flex: 2;
}
