.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    background-color: #f5f5f6;
    border-radius: 20px;
}

.pieces-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1
}

.piece-style {
    width: 50px;
    height: 50px;
    margin: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
}