.vertical-cells-container {
    display: flex;
    flex: 2;
}

.column-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cell-container {
    height:100%;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}