.horizontal-cells-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f6;
    width: 100%;
    height: auto;
    flex: 2;
}

.rows-container {
    display: flex;
    flex: 1
}

.row-container {
    height: 100%;
    display: flex;
    flex: 6;
}

.empty-space {
    flex: 3;
}

.hor-cell-container {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}
