.new-game {
    position: absolute;
}

.new-game-container {
    background-color: #f5f5f6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
}

.create-player-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

input {
    border-radius: 5px;
    height: 40px;
    width: 300px;
}

.red-label {
    color: #f00;
}

.yellow-label {
    color: #ffd520;
}

.green-label {
    color: #0f0;
}

.blue-label {
    color: #00f;
}

.red-input {
    background-color: #ffefef;
    border-color: #f00;
}

.yellow-input {
    background-color: #ffd;
    border-color: #ffd520;
}

.green-input {
    background-color: #dfd;
    border-color: #0f0;
}

.blue-input {
    background-color: #ddf;
    border-color: #00f;
}

.create-game-buttons {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-game-button {
    background-color: #f5f5f6;
    width: 200px;
    padding: 10px;
    font-weight: 600;
    border-color: #a9a9a9;
    border-width: 2px;
    border-radius: 10px;
    margin-top: 1rem;
}
